

body{
	font-family: 'Arial', 'Helvetica', sans-serif;
}

footer{
  margin-top: 50px;
}


.jumbotron{
  padding-left: 50px;
}

.navbar-brand img{
  width: 30px;
}

.homepage{
  border-radius: 45px;
  margin-top: 5px;
  border: none;
  padding: 8px 50px;
}

.mainSection{
  text-align: right;
  background-color: #DFCFBE;
  opacity:0.7;
}

.mainTitle{
  width: 500px;
  text-align: left;
  font-size: 25px;
  border-radius: 45px;
}

.bookImage{
  margin: 5%;
  max-height: 100px;
}

.bookRight{
  padding-top: 5%;
}

.booksInBooklist{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: 1px solid #A9A9A9;
}

.booksInPopular{
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  background-color: #d3d3d3;
  border: 1px solid #A9A9A9
}

.linkToBookTitle{
  font-size: 20px;
  color: black;
}

/* Book Page */
.bookHeading{
  padding-top: 30px;
  font-size: 60px;
  text-align: left;
}

.bookPicture{
  width:30%;
  margin: 5%;
}

.bookInfoBlock{
  width:60%;
  top:60px;
  left: 40px;
}

.bookInfo{
  padding-top: 10px;
  padding-bottom: 10px;
}

.comments{
  padding-right: 50px;
}

