<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <title>
            Reading Buddy -
            {% block title_block %}
                Review and Share Books!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
            <!-- category list -->
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <a href="{% url 'readingBuddy:restricted' %}">Restricted Page</a><br>
                <a href="{% url 'readingBuddy:logout' %}">Logout</a><br>

                <!-- add book? -->

            {% else %}
                <a href="{% url 'readingBuddy:register' %}">Sign Up</a><br>
                <a href="{% url 'readingBuddy:login' %}">Login</a><br>
            {% endif %}
                <li><a href="{% url 'readingBuddy:about' %}">About</a></li><br>
                <li><a href="{% url 'readingBuddy:index' %}">Index</a></li><br>
            </ul>
        </div>
    </body>
</html>