{% extends 'reading_buddy/base.html' %}
{% load static %}

{% block title_block %}
    {% if category %}
        {{ category.name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}

{% block body_block %}
<!--Navigation bar-->

{% if category %}
    <!-- Show books and reviews-->
{% else %}
    <strong>No books currently in this genre.</strong>
{% endif %}


{% if user.is_authenticated %}
    <!-- add a book -->
    <a href="{% url 'rango:add_page' category.slug %}">Add a book</a>
{% endif %}


<!--Most Viewed Reviews (should this be in the 'if category' section?)-->
<div>
    <div>
        <h2>Most Viewed Books</h2>
        {% if most_views %}
            <ul>
            {% for review in most_views %}
                <div>
                    <!-- Show review, likes and views-->
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no reviews yet.</strong>
        {% endif %}
    </div>
</div>

<!--Most Liked Reviews-->
<div>
    <div>
        <h2>Most Liked Books</h2>
        {% if most_liked %}
            <ul>
            {% for review in most_liked %}
                <div>
                    <!-- Show review, likes and views-->
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no reviews yet.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}