{% extends 'reading_buddy/base.html' %}
{% load static %}

{% block title_block %}
    Home Page
{% endblock %}

{% block body_block %}
<!--Navigation bar-->


<!--main section-->
<div class="homepage">
    <div class="list_left">
        <!--books-->
        {% if user.is_authenticated %}
            <!--Recently viewed books-->
            <h2>Recently viewed books:</h2>
            {% if page in pages %}
            <table>
                <tbody>
                    <tr><td>
                    <ul>
                        {% for page in pages %}
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        <!--add more book info-->

                        {% endfor %}
                    </ul>
                    </td></tr>
                </tbody>
            </table>

        {% else %}
            <h2>Most viewed books:</h2>
            {% if page in most_viewed %}
            <table>
                <tbody>
                    <tr><td>
                    <ul>
                        {% for page in pages %}
                        <a href="{{ page.url }}">{{ page.title }}</a>
                        <!--add more book info-->

                        {% endfor %}
                    </ul>
                    </td></tr>
                </tbody>
            {% else %}
                <strong>There are no books available.</strong>
            {% endif %}
        {% endif %}
    </div>
    <div class="list_right">
        <!--most popular books-->
        <h2>Most Popular Books</h2>
        {% if most_liked %}
            <ul>
            {% for book in most_liked %}
                <div>
                    <a href="{% url 'readingBuddy:books' book.id %}">{{ book.title }}</a>
                    <a >{{ book.likes }}</a>
                    <a >{{ book.views }}</a>
                    <hr align="left" width="30%"/>
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no books available.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}