<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <title>
            Reading Buddy -
            {% block title_block %}
                Review and Share Books!
            {% endblock %}
        </title>
    </head>
    <body>
        
        <nav class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" src="{% static 'images/logo.JPG' %}" alt="Logo for Reading Buddy" />
            <a class="navbar-brand">Reading Buddy</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                {% if categories %}
                    {% for category in categories %}
                        <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a></li>
                    {% endfor %}
                {% else %}
                    <strong>There are no categories present.</strong>
                {% endif %}
                <form class="form-inline"  action="../rango/search_do/" role="form">
                    <input class="search_form" type="search" name="search" id="search" placeholder="Search here...">
                    <button class="submit_form" type="submit" class="submit_btn">Search</button>
                </form>
                {% if user.is_authenticated %}
                <button class="homepage"> <a href="{% url 'rango:homepage' %}"> Home</a></button>
                {% else %}
                <button class="homepage"> <a href="{% url 'rango:login' %}">Sign in</a></button>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="background"></div>

        <div>
        {% block body_block %}
        {% endblock %}
        </div>
        <div>
            {% block sidebar_block %}
            <!-- category list -->
            {% endblock %}
        </div>
        <hr />
        <div>
            <ul>
            {% if user.is_authenticated %}
                <a href="{% url 'rango:restricted' %}">Restricted Page</a><br>
                <a href="{% url 'rango:logout' %}">Logout</a><br>

                <!-- add book? -->

            {% else %}
                <a href="{% url 'rango:register' %}">Sign Up</a><br>
                <a href="{% url 'rango:login' %}">Login</a><br>
            {% endif %}
                <li><a href="{% url 'rango:about' %}">About</a></li><br>
                <li><a href="{% url 'rango:index' %}">Index</a></li><br>
            </ul>
        </div>
    </body>
</html>