<!DOCTYPE html>
{% load static %}


<html>
    <head>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src="{% static 'js/review.js' %}"></script>
        <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            Reading Buddy -
            {% block title_block %}
                Review and Share Books!
            {% endblock %}
        </title>
    </head>
    <body>
        
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'readingBuddy:index' %}"><img src="{% static 'images/logo.JPG' %}" alt="Logo for Reading Buddy"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'readingBuddy:index' %}">Reading Buddy <span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genres <span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if categories %}
                {% for category in categories %}
                    <li><a href="{% url 'readingBuddy:show_category' category.slug %}">{{ category.cat_name }}</a></li>
                {% endfor %}
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
          </ul>
        </li>
      </ul>
      <!-- The Search Bar -->
      <!--form class="navbar-form navbar-left" action="../readingBuddy/search_do/" role="form">
        <div class="form-group">
          <input class="form-control" type="search" name="search" id="search" placeholder="Search">
        </div>
        <button class="btn btn-default" type="submit" >Submit</button>
      </form-->

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'readingBuddy:userpage' %}">User Page</a></li>
            <li><a href="#">Add a Book</a></li>
            <li><a href="{% url 'readingBuddy:logout' %}">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'readingBuddy:login' %}">Sign In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<section>
    <div class="container-fluid">
        {% block body_block %}
        {% endblock %}
    </div>
</section>

<footer>
    <div class="jumbotron">
            <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-3">
                    <a href="{% url 'readingBuddy:restricted' %}">User Page</a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'readingBuddy:logout' %}">Logout</a>
                </div>

            {% else %}
                <div class="col-md-3">
                    <a href="{% url 'readingBuddy:register' %}">Sign Up</a>
                </div>
                <div class="col-md-3">
                    <a href="{% url 'readingBuddy:login' %}">Login</a>
                </div>
            {% endif %}
                <div class="col-md-3">
                   <a href="{% url 'readingBuddy:about' %}">About</a> 
                </div>
                <div class="col-md-3">
                    <a href="{% url 'readingBuddy:index' %}">Index</a>
                </div>
            </div>
    </div>
</footer>
    </body>
</html>