{% extends 'readingBuddy/base.html' %}
{% load static %}

<!-- Yifan comment this part, show write comment part

{% block title_block %}
    {% if category %}
        {{ category.cat_name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
-->

{% block body_block %}

{% if category %}
    <!-- Show books and reviews-->
    {% if books %}
    <ul> 
        {% for book in books %}
        <li>{{ book.book_name }}</a></li>
        {% endfor %} 
    </ul> 
    {% else %} 
        <strong>No books currently in category.</strong> 
        {% endif %} 
    {{ category.cat_name }} books
{% else %}
    <strong>The specified category does not exist.</strong>
{% endif %}

 
<!--Most Viewed Reviews (should this be in the 'if category' section?)-->
<div>
    <div>
        <h2>Most Viewed Books</h2>
        {% if most_views %}
            <ul>
            {% for review in most_views %}
                <div>
                    <!-- Show review, likes and views-->
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no reviews yet.</strong>
        {% endif %}
    </div>
</div>

<!--Most Liked Reviews-->
<div>
    <div>
        <h2>Most Liked Books</h2>
        {% if most_liked %}
            <ul>
            {% for review in most_liked %}
                <div>
                    <!-- Show review, likes and views-->
                </div>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no reviews yet.</strong>
        {% endif %}
    </div>
</div>

{% endblock %}