{% extends 'readingBuddy/base.html' %}
{% load static %}

<!-- Yifan comment this part, show write comment part

{% block title_block %}
    {% if category %}
        {{ category.cat_name }}
    {% else %}
        Unknown Category
    {% endif %}
{% endblock %}
-->

{% block body_block %}
<div>
<br>
<br>
<br>
<br>
{% if category %}
    <!-- Show books: in descending order on ‘likes' -->
    <!-- Can add more info about books on the page -->
    {% if books %}
    <ul> 
        {% for book in books %}
        <div class = "booksInBooklist">
        <li><a href="{% url 'readingBuddy:show_book' book.slug %}">{{ book.book_name }}</a></li>
        </div>
        {% endfor %} 
    </ul>
    {% else %} 
        <strong>No books currently in category.</strong> 
    {% endif %} 

{% else %}
    <strong>The specified category does not exist.</strong>
{% endif %}
</div>

{% endblock %}