<!DOCTYPE html>
{% extends 'readingBuddy/base.html' %}
{% load static %}
{% block title_block %}Home Page{% endblock %}
{% block body_block %}
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="mainTitle">
                    <h2>Book List:</h2>
                </div>
                <div class="booksInBooklist">
                    <div class="row">
                        <form class="navbar-form navbar-left"
                              action="../readingBuddy/search_do/"
                              role="form">
                            <div class="form-group">
                                <input class="form-control"
                                       type="search"
                                       name="search"
                                       id="search"
                                       placeholder="Search">
                            </div>
                            <button class="btn btn-default" type="submit">Submit</button>
                        </form>
                    </div>
                    <div>
                        {% for book in books %}
                            <div>
                                <a href="{% url 'readingBuddy:show_book' book.slug %}">{{ book.book_name }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mainTitle">
                    <h2>Most Popular Books:</h2>
                </div>
                <div>
                    {% if most_popular %}
                        <div>
                            {% for book in most_popular %}
                                <div class="booksInPopular panel panel-default" id="card">
                                    <h5 class="text-center">
                                        <a class="linkToBookTitle"
                                           href="{% url 'readingBuddy:show_book' book.slug %}">{{ book.book_name }}</a>
                                    </h5>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <img src="{{ MEDIA_URL }}{{ book.slug }}.jpg"
                                                 alt="Picture of book."
                                                 class="img-responsive bookImage">
                                        </div>
                                        <div class="col-md-6 bookRight">
                                            <div id="text1">Book Score: {{ book.score }}</div>
                                            <div>Likes: {{ book.likes }}</div>
                                            <div>Views: {{ book.views }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <strong>There are no books available.</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
