{% extends 'reading_buddy/base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<!--The navigation bar-->

<!--Login -->
<link href="http://v4-alpha.getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<div>
    <h1>Login</h1>
</div>
<div>
    <form class="form-signin" role="form" method="post" action=".">
   
    {% csrf_token %}
    <img class="mb-4" src="{% static 'images/logo.JPG' %}" alt="Reading Buddy Logo" width="72" height="72">
    <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" name="username" id="id_username" class="form-control" placeholder="Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Sign in</button>
    
    </form>
</div>

{% endblock %}