{% extends 'readingBuddy/base.html' %}
{% load static %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for readingBuddy</h1> 
    {% if registered %}
        readingBuddy says: <strong>thank you for registering!</strong>
        <a href="{% url 'readingBuddy:index' %}">Return to the homepage(indexpage).</a><br />
    {% else %}
        readingBuddy says: <strong>register here!</strong><br />
        <form id="user_form" method="post" action="{% url 'readingBuddy:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form-->
            {{ user_form.as_p }} 
            {{ profile_form.as_p }}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %} 
    

{% endblock %}