{% extends 'readingBuddy/base.html' %}
{% load static %}

{% block title_block %}
    Search result
{% endblock %}


{% block body_block %}

{% if user.is_authenticated %}
    Hello {{ user.username }}
{% endif %}

<div>
    <h1>Search Result:</h1>
    {% if books %}
        {% for book in books %}
            <li><a href="{% url 'readingBuddy:show_book' book.slug %}">{{ book.book_name }}</a></li>
        {% endfor %}
    {% else %}
        <strong>Sorry, no result.</strong>
    {% endif %}
</div>


{% endblock %}