{% extends 'readingBuddy/base.html' %}
{% load static %}
{% block title_block %}Userpage{% endblock %}
{% block body_block %}
    <!--Navigation bar-->
    {% if user.is_authenticated %}
        <div class="row userpageContent">
            <div>
                <h2>Hello {{ user.username }} !</h2>
            </div>
            <div>
                <div>
                    <!--user picture-->
                    <!--user info/bio-->
                    <h3>My Reviews:</h3>
                    <!-- user Comment -->
                    {% if comments %}
                        <ul>
                            {% for comment in comments %}<li>{{ comment.content }} -- “{{ comment.Book }}”</li>{% endfor %}
                        </ul>
                    {% else %}
                        <p> you have not reviewed any book! </p>
                    {% endif %}

                </div>
                {% if readlist_list %}
                    <h3>
                        <img src="{% static 'images/wishlist.JPG' book.slug %}"
                             alt="Add to wishlist"
                             width="50px">
                        Wishlist:
                    </h3>
                    <!-- user wishlist -->
                    {% for wishlist in readlist_list %}
                        <li>{{ wishlist.book1 }}</li>
                        <li>{{ wishlist.book2 }}</li>
                    {% endfor %}
                    <h3>
                        <img src="{% static 'images/current.JPG' %}"
                             alt="Add to currently reading list"
                             width="50px">
                        Currently Reading:
                    </h3>
                    <!-- user currently reading -->
                    {% for current_reading in readlist_list %}
                        <li>{{ current_reading.book3 }}</li>
                    {% endfor %}
                    <h3>
                        <img src="{% static 'images/tick.JPG' %}"
                             alt="Add to read list"
                             width="50px">
                        Finished Reading:
                    </h3>
                    <!-- user finish reading list -->
                    {% for finish_reading in readlist_list %}
                        <li>{{ finish_reading.book4 }}</li>
                        <li>{{ finish_reading.book5 }}</li>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
